// Footer.scss
@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_reset.scss";
@use "../../../styles/_fonts.scss";

footer {
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 20px 20px;
    margin-top: 5dvh;
    background-color: $main-highest;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 0.2dvb;
}
