// Footer.scss
footer {
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 20px 20px;
    background-color: $black;
    font-size: 0.9rem;
    color: $cream;
    letter-spacing: 0.2dvb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    @media (min-width: 768px) {
        font-size: 1.1rem;
      }
}
