/* Réinitialisation globale */
* {
    font-family: "Cabin Sketch", Calibri, 'Trebuchet MS', sans-serif;
    color: #55595E;
    box-sizing: border-box;
    font-size: 2.4rem;
    list-style-type: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #ede8f0;
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

a, button {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer; 
}

.title-container {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.title {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 3px 5px black;
    border-bottom: solid 2px black;
    padding: 10px;
    font-weight: bold;
}

/* HEADER */

/* Menu Navigation */
#nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: #BF94FF 2px solid;
    font-weight: 700;
    font-style: normal;
    color: #55595E;
    letter-spacing: 0.1dvh;
    width: 100%;
}

.nav__link {
    font-size: 1rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
    color: #55595E;
    flex: 1;
    transition: all 0.5s;
}

.nav__link:hover {
    color: #BF94FF;
    text-decoration: underline 2px #BF94FF transparent;
    text-underline-offset: -100%;
    transition: 0.5s ease;
}

.nav__link:focus {
    color: #670BAD;
    text-decoration: underline 2px #670BAD;
    text-underline-offset: 20px; /* Espacement du soulignement */
    transition: 0.3s ease;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #fff;
    gap: 20px;
    padding: 20px 15px;
}

/* Logo Image */
#logo {
    width: 30dvh;
    height: 30dvh;
}

.box-logo {
    border-top: white 30px solid;
}

.nav__logo {
    display: flex;
    justify-content: center; /* Centré le contenu horizontalement */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap; /* Permettre le retour à la ligne */
}

/* Slogan */

.nav__slogan {
    flex: 3;
    text-align: center; /* Centrer le texte */
    margin-top: 20px;
    min-width: 200px; /* Assurez-vous qu'il y a suffisamment d'espace */
}

.title__url {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #670BAD;
} 

.title__slogan {
    font-size: 1.2rem;
}

/* A PROPOS */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ede8f0;
    color: white;
    text-align: justify;
    width: 100%;
}

.about__text {
    display: block;
    width: 100%;
    padding: 30px;
    position: static; /* La box ne bouge pas */
    overflow: auto; /* Permet le défilement si nécessaire */
    background-image: url("images/fond1.jpg");
    background-size: cover;
    color: black;
    font-weight: bold;
    font-size: 0.5rem;
    border-radius: 3vh; /* Remplacer dvh par vh */
}

.about__informations {
    display: flex;
    flex-direction: column;
    background-color: #ede8f0;
    padding: 20px;
    width: 100%;
    margin: auto;
}

#logo-linkedin {
    width: 300px; /* Ajustez la taille selon vos besoins */
    height: auto;
}

.button__linkedin {
    padding: 40px;
    margin: 50px auto;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    background: linear-gradient(142deg, rgba(250,223,121,1) 14%, rgba(227,183,227,1) 48%, rgba(172,196,240,1) 81%);
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.616);
    transition: all 1s;
}

.button__linkedin:hover {
    box-shadow: 12px 12px 8px 2px black;
    background: #0e76a8;
}

#photo_profil {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 52% 48% 64% 36% / 57% 47% 53% 43%;
    box-shadow: 12px 12px 15px 1px rgba(0, 0, 0, 0.616);
}

.about__map {
    width: 100%;
    height: 50%;
    display: block;
    border: 1px solid black;
}

/* CONTACT */

.contact {
    width: 90%;
    border-radius: 8px;
    padding: 0 20px;
    background: white;
    display: block;
    margin: auto;
    color: #303030;
    box-shadow: 3px 3px 20px 18px rgba(0,0,0,0.25);
}


form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 83px;
    margin-top: 25px;
}
        
form div > label {
    margin-top: 20px;
    font-size: 1rem;
}
        
form div > input, form div > select, form div > textarea {
    background-color: #DCD4E3;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25);
    font-family: 'Courier New', Courier, monospace;
}
        
form div > input, form div > select {
    height: 50px;
    padding-left: 10px;
}
        
form div > select {
    appearance: none;
    background-size: 15px;
    background-image: url('data:image/svg+xml;base64,...'); /* Abbreviated for brevity */
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}
        
form div > textarea {
    height: 195px;
    padding: 15px 10px 0 10px;
}
        
form div > input::placeholder, form div > textarea::placeholder {
    color: #303030;
}
        
form div > select:invalid {
    color: #303030;
}
        
form div:last-child {
    align-items: center;
    margin-top: 20px;
}
        
form button {
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.25);
    color: #303030;
}

form button:hover {
    background: #DCD4E3;
    cursor: pointer;
}

/* PAGE CV */

#cv {
    display: block;
    margin: auto;
}

/* EXPERIENCES */

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button__see-cv, .button__upload-cv {
    padding: 20px;
    text-decoration: none;
    border: none;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 1rem;
    background-color: #BF94FF;
    border-radius: 2.5dvh;
    border: outset #55595E 5px;
    transition: all 1s;
}

.button__see-cv:hover, .button__upload-cv:hover {
    box-shadow: 12px 12px 8px 2px black;
}

/* FOOTER */
    
footer {
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 20px 20px;
    margin-top: 5dvh;
    background-color: #cdb4db;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 0.2dvb;
}
