.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 2rem;
    margin: auto;
    gap: 1rem;
    width: 100%;
    min-height: 40vh;
    background-color: $cream;
}

.profile__header {
    margin-bottom: 3rem;
    @media (min-width: 1024px) {
        margin-bottom: 5rem;
    }
}

.profile__details {
    display: flex;
    align-items: center;
}

.profile__content {
    max-width: 50rem;
    max-height: 25rem;
    color: $black;
    margin: auto;
    overflow-y: scroll; // 👈 scroll visible en permanence
    padding-right: 1rem; // 👈 espace entre le texte et la scrollbar
    box-sizing: border-box;

    /* Scrollbar visible et plus accessible */
    scrollbar-width: auto; /* Firefox */
    
    &::-webkit-scrollbar {
      width: 12px; // 👈 plus large, plus visible
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $cream;
    }

    @media (min-width: 1024px) {
        max-width: 35%;
        margin-left: 5rem;
    }
}


.profile__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem 0 1.5rem 0;
}

.profile__a {
    font-weight: bold;
    color: $kaki;

    &:hover {
        color: $olive;
    }
}

.profile__details {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
    }
}

.profile__profile {
    text-align: center;
}

.profile__photo {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
    gap: 9px;
    // border-radius: 52% 48% 64% 36% / 57% 47% 53% 43%;
    border-radius: 50%;
    border: 1px solid $black;
    // box-shadow: 0.8em 0.8em 1em 0.1em rgba(0, 0, 0, 0.616);
    @media (min-width: 1024px) {
        width: 60%;
    }
}

.profile__linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20%;
    box-shadow: 0.4em 0.4em 0.8em 0.1em rgba(0, 0, 0, 0.616);
    transition: all 0.3s ease-in-out;
    
    &:hover {
        box-shadow: 0.8em 0.8em 0.5em 0.2em black;
        background: #0e76a8;
    }
}

.profile__linkedin-logo {
    width: 6rem;
    height: auto;
}

.profile__map {
    height: 20rem;
    border: 0.1rem solid black;
    width: 100%;
    max-width: 37.5rem;
}