@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_reset.scss";
@use "../../../styles/_fonts.scss";

/* Dark Mode Toggle */
.dark-mode-toggle {
  cursor: pointer;
  width: 40px;
  height: 30px;
  position: absolute;
  left: 10px; 
  bottom: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sun {
  transform: rotate(0deg); /* Aucun effet supplémentaire pour le soleil */
}

.moon {
  transform: rotate(0deg); /* Aucun effet supplémentaire pour la lune */
}
