.button__upload-cv {
    padding: 10px;
    font-family: "Cabin Sketch", sans-serif;
    background-color: $main-lower;
    border-radius: 2.5dvh;
    border: outset $grey 5px;
    transition: all 1s;
    margin-top: 2rem;
}

.button__upload-cv:hover {
    background-color: $main-highest;
}