#nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: #BF94FF 2px solid;
    font-weight: 700;
    font-style: normal;
    color: #55595E;
    letter-spacing: 0.1dvh;
    width: 100%;
}

.nav__link {
    font-size: 1.3rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-decoration: none;
    color: #55595E;
    flex: 1;
    transition: all 0.5s;
}

.nav__link:hover {
    color: #BF94FF;
    text-decoration: underline 2px #BF94FF transparent;
    text-underline-offset: -100%;
    transition: 0.5s ease;
}

.nav__link:focus {
    color: #670BAD;
    text-decoration: underline 2px #670BAD;
    text-underline-offset: 20px; /* Espacement du soulignement */
    transition: 0.3s ease;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: #fff;
    gap: 20px;
    padding: 20px 15px;
}

/* Logo Image */
#logo {
    width: 20rem;
    height:20rem;
}

.box-logo {
    border-top: white 30px solid;
}

.nav__logo {
    display: flex;
    justify-content: center; /* Centré le contenu horizontalement */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap; /* Permettre le retour à la ligne */
}

/* Slogan */

.nav__slogan {
    flex: 3;
    text-align: center; /* Centrer le texte */
    margin-top: 20px;
    min-width: 200px; /* Assurez-vous qu'il y a suffisamment d'espace */
}

.title__url {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #670BAD;
} 

.title__slogan {
    font-size: 1.8rem;
}