// Header
@use "../../../styles/_variables.scss" as *;
@use "../../../styles/_reset.scss";
@use "../../../styles/_fonts.scss";

#nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: $main-high 2px solid;
    font-weight: 700;
    font-style: normal;
    color: $grey;
    letter-spacing: 0.1dvh;
    width: 100%;
}

.nav__link {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    text-decoration: none;
    color: $grey;
    font-size: 1.1rem;
    flex: 1;
    transition: all 0.5s;
}

.nav__link:hover {
    color: $main-low;
    text-decoration: underline 2px $main-low, transparent;
    text-underline-offset: -100%;
    transition: 0.5s ease;
}

.nav__link:focus {
    color: $main-high;
    text-decoration: underline 2px $main-high;
    text-underline-offset: 20px; /* Espacement du soulignement */
    transition: 0.3s ease;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    padding: 20px 10px;
}

/* Logo Image */
#logo {
    width: 20rem;
    height:20rem;
}

.box-logo {
    margin: 30px 0 30px 0;
}

.nav__logo {
    display: flex;
    justify-content: center; /* Centré le contenu horizontalement */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    flex-wrap: wrap; /* Permettre le retour à la ligne */
}

/* Slogan */

.nav__slogan {
    flex: 3;
    text-align: center; /* Centrer le texte */
    margin-top: 20px;
    min-width: 200px; /* Assurez-vous qu'il y a suffisamment d'espace */
}

.title__url {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: $main-high;
} 

.title__slogan {
    font-size: 1.8rem;
}

// Styles pour les ordinateurs
@media (min-width: 1064px) {
    #nav-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;
        position: sticky;
        top: 0;
        border-bottom: $main-high 2px solid;
        font-weight: 700;
        font-style: normal;
        color: $grey;
        letter-spacing: 0.1dvh;
        width: 100%;
    }
  }
