@use "./variables" as *;

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $black;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    @media (min-width: 1024px) {
        font-size: 1.8rem;;
    }
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
    @media (min-width: 1024px) {
        font-size: 1.7rem;;
    }
}

h4 {
    font-size: 1.3rem;
    text-align: center;
    @media (min-width: 1024px) {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1rem;
    @media (min-width: 1024px) {
        font-size: 1.2rem;
    }
}

p {
    font-size: 0.8rem;
    // line-height: 1.6;
    @media (min-width: 1024px) {
        font-size: 1rem;
    }
}

/* Liens et boutons */
button, a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
    background: transparent;
    border: none;
}

svg {
    fill: $kaki; /* Appliquer la couleur kaki aux icônes SVG */
  }

.section-anchor {
    width: 100vw;  // Prend toute la largeur de l'écran
    min-height: 100vh; // Hauteur minimale de 90% de l'écran
    max-width: 1440px; // Évite que ça dépasse sur grands écrans
    margin: 0 auto; // Centre les sections horizontalement
  }
  

/* Responsive Desktop */
// @media (min-width: 768px) {
    // section {
        // min-height: $section-height-desktop;
    // }
// }
