@use "_variables" as *;

* {
    font-family: "Cabin Sketch", Calibri, 'Trebuchet MS', sans-serif;
    color: #55595E;
    box-sizing: border-box;
    font-size: 1rem;
    list-style-type: none;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
}

img {
    max-width: 100%;
    height: auto;
  }

button, a {
    margin: auto;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer; 
    color: white;
}

.icon {
    color: $main-highest;

}


.title-container {
    position: relative;
    height: auto;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.title {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 3px 5px black;
    padding: 10px;
    font-weight: bold;
}