@use "./variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem; 
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $black;
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
    line-height: 1.6;
    text-rendering: optimizeLegibility;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.3;
}
