// Light colors
$main-lowest: #DCD4E3;
$main-lower: #CDB4DB;
$main-low: #BDAACC;

// Titles, paragraphs
$grey: #171717c5;

// Dark colors
$main-high: #850ee0;
$main-higher: #35045a;
$main-highest: #2B0A51;