// Colors
$olive: #9E955F;
$kaki: #50513A;

$beige: hsl(36, 43%, 66%);
// #CEB184;
$cream: #FAEBC9;

$black: #000000;

// Section Dimensions
// $section-height-mobile: 58.875rem; // 942px / 16
// $section-height-desktop: 58.4375rem; // 935px / 16


