// Light colors
$main-lowest: #DCD4E3;
$main-lower: #CDB4DB;
$main-low: #D2C1FD;

// Titles, paragraphs
$grey: #55595E;

// Dark colors
$main-high: #670BAD;
$main-higher: #35045a;
$main-highest: #19012c;