.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    margin: auto;
    gap: 1rem;
    width: 100%;
    min-height: 40vh;
}

.presentation__header {
    text-align: center;
}

.presentation__title {
    font-size: 1.8rem;
    font-weight: bold;
}

.presentation__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.presentation__content {
    max-width: 50rem;
    padding: 2rem;
    background-color: $cream;
    color: $black;
    box-shadow: 0.2em 0.2em 1.2em 0.9em rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    border-radius: 3vh;
    margin: auto; // Centré par défaut sur mobile

    @media (min-width: 1024px) {
        margin-left: auto; // Décale vers la droite en desktop
        margin-right: 0; // Assure que ce n'est pas centré
    }
}

.presentation__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.presentation__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.presentation__profile {
    text-align: center;
}

.presentation__photo {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 52% 48% 64% 36% / 57% 47% 53% 43%;
    box-shadow: 0.8em 0.8em 1em 0.1em rgba(0, 0, 0, 0.616);
}

.presentation__linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 20%;
    box-shadow: 0.4em 0.4em 0.8em 0.1em rgba(0, 0, 0, 0.616);
    transition: all 0.3s ease-in-out;
    
    &:hover {
        box-shadow: 0.8em 0.8em 0.5em 0.2em black;
        background: #0e76a8;
    }
}

.presentation__linkedin-logo {
    width: 6rem;
    height: auto;
}

.presentation__map {
    height: 20rem;
    border: 0.1rem solid black;
    width: 100%;
    max-width: 37.5rem;
}