.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    margin: auto;
    gap: 1rem;
    background-image: url("/images/Fond-Bureau.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.about__content {
  width: 100%;
  padding: 1.5rem; // ✅ padding plus petit par défaut (mobile)
  box-sizing: border-box; // ✅ pour inclure le padding dans le 100%
  margin: 0 auto;
  background-color: $cream;
  color: $black;
  box-shadow: 0.2em 0.2em 1.2em 0.9em rgba(0, 0, 0, 0.25);
  font-size: 1.1rem;
  border-radius: 3vh;

  @media (min-width: 768px) {
    padding: 2rem;
  }

  @media (min-width: 1024px) {
    max-width: 40%;
    margin-right: 5rem;
  }
}


.about__text {
    margin: 1.5rem 0 1.5rem 0;
}

