.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: justify;
    margin: auto;
    gap: 1rem;
}

.about__text {
    padding: 30px;
    background-size: cover;
    color: $black;
    box-shadow: 3px 3px 20px 18px rgba(0,0,0,0.25);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 3vh; 
}

.about__informations {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: auto;
}

#logo-linkedin {
    width: 100px; 
    height: auto;
}

.button__linkedin {
    padding: 20px;
    margin: 50px auto;
    border: none;
    border-radius: 20%;
    box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.616);
    transition: all 1s;
}

.button__linkedin:hover {
    box-shadow: 12px 12px 8px 2px black;
    background: #0e76a8;
}

#photo_profil {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 52% 48% 64% 36% / 57% 47% 53% 43%;
    box-shadow: 12px 12px 15px 1px rgba(0, 0, 0, 0.616);
}

.about__map {
    height: 20rem;
    border: 1px solid black;
}




