.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: justify;
    margin: auto;
    gap: 1rem;
    background-image: url(../../assets/images/Fond-Bureau.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.about__content {
    // min-width: 23rem; 
    padding: 2rem;
    background-color: $cream;
    color: $black;
    box-shadow: 0.2em 0.2em 1.2em 0.9em rgba(0, 0, 0, 0.25);
    font-size: 1.1rem;
    border-radius: 3vh;
    margin: auto; // Centré par défaut sur mobile

    @media (min-width: 1024px) {
        max-width: 40%;
        margin-right: 10rem;
        // margin-left: auto; // Décale vers la droite en desktop
        // margin-right: 0; // Assure que ce n'est pas centré
    }
}

.about__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1.5rem 0 1.5rem 0;
}

