.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/Fond-Réunion.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
  
    &__header {
      text-align: center;
      margin-bottom: 3rem;
    }
  
    &__container {
      display: flex;
      flex-direction: column;
      min-width: 23rem;  
      background-color: $cream;
      margin: auto;
      border-radius: 3vh;
      box-shadow: 0.2em 0.2em 1.2em 0.9em rgba(0, 0, 0, 0.25);
    
      @media (min-width: 1024px) {
        max-width: 40%;
      }
    
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
    
  
    /* --- FORMULAIRE --- */
    &__form {
      flex: 1;
      padding: 2rem;
      border-radius: 8px;
    }
  
    &__fieldset {
      border: none;
      margin-bottom: 1.5rem;
    }
  
    &__legend {
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: $black;
      text-align: center;
    }
  
    &__label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.3rem;
      color: black;
    }
  
    &__input,
    &__textarea {
      width: 100%;
      padding: 0.8rem;
      border: 1px solid $beige;
      border-radius: 3vh;
      font-size: 1rem;
      background: $kaki;
    }
  
    &__textarea {
      resize: vertical;
      min-height: 120px;
    }
  
    /* --- BOUTON (utilisation de ton composant Button) --- */
    &__button {
      display: block;
      width: 100%;
      margin-top: 1rem;
    }
  
    /* --- INFOS DE CONTACT --- */
    &__info {
      flex: 1;
      padding: 2rem;
      border-radius: 8px;
    }
  
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &__item {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      font-size: 1.1rem;
      margin-bottom: 1rem;
      color: $black;
      font-weight: bold;
    }
  
    .contact__item a {
      color: inherit; // Hérite de la couleur du parent (.contact__item)
      font-weight: bold;
      text-decoration: none; // Supprime le soulignement si nécessaire
    }
    
    .contact__item a:hover {
      color: $olive; // Change la couleur au survol
    }
    

    &__icon {
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  
  }
  
  