body.body-error {
    background-color: $kaki;
  }

.not-found {
  text-align: center;
  padding: 4rem 1rem;
  color: $cream;

  &__image {
    max-width: 300px;
    width: 100%;
    margin-bottom: 2rem;
    margin: auto;
  }

  &__link {
    font-weight: bold;
    color: $cream;
    text-decoration: underline;

    &:hover {
      color: $olive;
    }
  }
}
